* {
	padding: 0;
	left: 0;
	margin: 0;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1024px;
	margin: 0 auto;
}

.header{
	height: 70px;
	width: 1024px;
	background: white;
}

.navigation{
	height: 100%;
}

.menu{
	display:flex;
	justify-content: flex-end;
	align-self: center;
	list-style-type: none;

}

a {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
  color: #515769;
}
.menu a{
		text-transform: uppercase;
		font-size: 13px;
}

main{
	width: 1024px;
}
a:hover{
	color: #a4c2f2;
}
.figure{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
	width: 1024px;
	background: #fafafa;

}

.figcaption{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1,
h2,
h3,
p{
font-family: Hind,sans-serif;
color: #515769;
}

h1{
	font-size: 65px;
	font-weight: 700;
  margin-left: 70px;
}

.social-networks{
	display: flex;
	align-self: center;
	margin-top: 40px;
}

.social:hover{
	color: #a4c2f2;
}

.social{
	display: inline-block;
	color: #515769;
	margin-left: 25px;
	text-align: center;
  font-size: 30px;
}

.contact-me,
.summary,
.my-skills,
.additional-information,
.education{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.summary,
.additional-information{
	height: 170px;
}
.my-skills{
	height: 300px;
}
.contact-me{
	height: 260px;
}
.links{
	display: flex;
	justify-content: space-around;
	align-self: stretch;
	margin-top: 30px;
}
.link-1,
.link-2,
.link-3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	width: 200px;
	height: 100px;
	font-size: 20px;
	background: #fafafa;
}
h2{
	font-size: 28px;
	margin-top: 50px;
}

h3{
	font-size: 24px;
	margin-top: 10px;
}

p{
	font-size: 18px;
	margin-top: 15px;
}
.my-skills,
.education{
	background: #fafafa;
}

li{
	margin: 20px 0;
	font-size: 18px;
}
.education-a{
margin: 0;
padding: 0 0;
font-size: 18px;
}
footer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	width: 1024px;
	background: #fafafa
}
.footer-p{
	margin-left: 30px;
}
